@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:  #919EFF;
    color: white;
}
.content-1{
    display: flex;
    flex-direction: column;
    background:#6D77BF;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 400px;
}
label{
    font-size: 0.95em;
}
button{
    margin: 5px;
    background: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 12px;
    padding: 5px;
    cursor: pointer;
}
button:hover{
    background: white;
    color:#919EFF ;
}
input{
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 10px;
}
#div-resultado{
    margin-top: 10px;
    display: none;
    background: #6D77BF;
    padding: 15px;
    border-radius: 12px;
    width: 400px;
}
#div-resultado > h1 {
    display: inline;
}
@media screen and (max-width: 700px) {
    #div-resultado, .content-1{
        width: 320px;
    }
}